* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: $header;
  font-family: Outfit;
  font-weight: $bold;
  color: $white;
  margin: $margin-box;
}
p {
  font-size: $text;
  color: $gray-text;
  font-family: $Outfit;
  font-weight: $ligth;
}
.smaller {
  font-size: calc(1.8rem - 3px);
  font-weight: medium;
}

body {
  background-color: $background;
}
