/*VARIABLES*/
/*Font size*/
/*Font weight*/
/*Colours*/
/*OTHER*/
/*Mixin*/
/*SCSS Files*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.1rem;
  font-family: Outfit;
  font-weight: 600;
  color: white;
  margin: 2.3rem 0;
}

p {
  font-size: 1.8rem;
  color: #8bacda;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.smaller {
  font-size: calc(1.8rem - 3px);
  font-weight: medium;
}

body {
  background-color: #0d192b;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 98vh;
  min-width: auto;
}

.box {
  background-color: #14253d;
  padding: 2.3rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 5px 5px 50px 10px #08101b;
          box-shadow: 5px 5px 50px 10px #08101b;
}

.image {
  position: relative;
}

.overlay {
  height: 296.06px;
  width: auto;
  border-radius: 1.5rem;
  position: absolute;
  background-color: rgba(0, 255, 247, 0.6);
  -o-object-fit: scale-down;
     object-fit: scale-down;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.picture {
  height: 296.06px;
  width: auto;
  border-radius: 1.5rem;
}

.description p {
  line-height: 2.7rem;
}

.info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2.3rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.price-row p {
  font-weight: 600;
  color: #00fff7;
  padding: 0 0.5rem;
}

.time-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.time-row p {
  padding-left: 0.5rem;
}

hr {
  height: 0.2rem;
  background-color: #2f415b;
  border: none;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2rem;
          flex: 1 1 2rem;
  margin: 2.3rem 0;
}

.author img {
  height: 3.1em;
  border: 1px;
  border: 1px solid #fff;
  border-radius: 50px;
  border-width: 1.5px;
}

p span {
  font-weight: 600;
  color: white;
}

.author p {
  padding: 0 1rem;
}

/*Hover*/
p span:hover {
  color: #00fff7;
  cursor: pointer;
}

h1:hover {
  color: #00fff7;
  cursor: pointer;
}

.overlay:hover {
  cursor: pointer;
  opacity: 100;
}

/*MEDIA QUERY*/
@media screen and (max-width: 375px) {
  h1 {
    font-size: calc(2.5rem + 0.2vh);
  }
  p {
    font-size: calc(1.8rem + 0.2vh);
  }
  .picture img {
    height: calc(296.06px + 1.8rem);
    -o-object-fit: fill;
       object-fit: fill;
  }
  .overlay img {
    height: calc(296.06px + 1.8rem);
  }
}
/*# sourceMappingURL=style.css.map */